

<nav >
  <div class = "dropdown">
    <a href = "#popup"><img src="../../imgs/Hamburger_icon.svg.png" alt=""></a>
    
      <ul id = "popup" class ="overlay">
        <a class="close" href="#"><img src="../../imgs/Hamburger_icon.svg.png" alt=""></a>
        <li><a href= "/">Home</li>
          <li><a href="/pokevault">Vault</a></li>
          <li><a href="/about">About Us</a></li>
          
      </ul>
    </div>
  </nav>
<p id="curLoc"></p>


<img src="/imgs/06f437bb9038e8a4901e7f9349a384d5.png" alt="">

<div id=container> 
  <div id=flip>
    <div><div>POke Safari</div></div>
    <div><div>Welcome to </div></div>
    <div><div>Catch me if you can !!</div></div>
  </div>
</div>
    
    