<img id="map" src="<%= map %>"/>    
<form class="textInput" action="/getLocation" method="POST">
    <label for="search"></label>
    <input id="input" type="text" placeholder="Enter a city" name="search"  required>
   <button class='btn6' type="submit">Search for Monsters!</button>
</form>
<form id="findMonster" action="/found" method="POST" >
            <input id="currentLat" type="hidden" name="clat" value="">
            <input id="currentLong" type="hidden" name="clng" value="">
            <button type="submit" >Find monster at my location!</button>
        </form>
        
        
       