           
        <form id="findMonster" action="/found" method="POST" >
            <input id="currentLat" type="hidden" name="clat" value="">
            <input id="currentLong" type="hidden" name="clng" value="">
            <button id="curButton" type="submit" disabled="disabled" >Find monster at my location!</button>
        </form>
        
        
        <form class="textInput" action="/getLocation" method="POST">
            <label for="search">Enter a City to Search For a Monster</label>
            <input id="input" type="text" placeholder="Enter a city" name="search"  required>
            <button type="submit">Search for Monsters!</button>
        </form>