<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>

</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <h1>About Us</h1>
        <div class="aboutUs">
            <h2>Ahren Swett</h2>
            <img src="../../imgs/AhrenPicture.PNG" alt="Picture of Ahren">
            <h3>Bio</h3>
            <p>Passionate about technology, people, solving problems, and creating new solutions. I'm a quick learner and eager to deepen my knowledge in DevOps and programing. </p>
            <h3>Favorite Pokemon</h3>
            <img src="../../imgs/mewTwo.jpg" alt="Mew Two picture">
            <p>Mew Two</p>
            <p>Find me on
                <a href="https://github.com/ahrenswett">GitHub</a>
                <a href="https://www.linkedin.com/in/ahrenswett/">LinkedIn</a>
            </p>

            
        </div>
        <div class="aboutUs">
            <h2>PT</h2>
            <img src="../../imgs/PTPic.png" alt="Picture of PT">
            <h3>Bio</h3>
            <p>Hi I'm Poramase Tong. I am from Thailand. I really programming long time ago. I have made decision on joinging code fellows becuase I follow my passion that I really want to be software developer coding for machine learning and create useful app to make life easier. </p>
            <h3>Favorite Pokemon</h3>
            <img src="../../public/siteImgs/lightnigchu.png" alt="Pikachu picture with lightning bolts">
            <p>Pikachu</p>
            <p>Find me on
                <a href="https://github.com/ptong19">GitHub</a>
                <a href="https://www.linkedin.com/in/poramase-tong/">LinkedIn</a>
            </p>
        </div>
        <div class="aboutUs">
            <img src="" alt="">
            <h2>Morgan</h2>
            <img src="../../imgs/MorganPic.jpg" alt="Morgan Picture with Pikachu">
            <h3>Bio</h3>
            <p>I have recently started to journey into the tech realm. Feel free to review my portfolio, resume, or reach out to me on LinkedIn!</p>
            <h3>Favorite Pokemon</h3>
            <img src="../../imgs/squirtle.png" alt="squirtle picture">
            <p>Squirtle</p>
            <p>Find me on
                <a href="https://github.com/mts513">GitHub</a>
                <a href="https://www.linkedin.com/in/mtatums/">LinkedIn</a>
            </p>
        </div>

    </main>
</body>
<footer>
    <%- include('../partials/footer') %>
</footer>
</html>