<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    
</head>
<body>
    <header>
            <%- include('../partials/header') %>
           
        
    </header>
    
    <main id="main">
            
            <div data-animation='first'>
                   
                    <div></div>
                    
                    <div></div>
                    
            </div>
            <img id="pot" src = "/imgs/running1.gif">
        <%- include('../partials/main') %>
        
            
          
    </main>
    <footer>
            
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../js/location.js"></script>
    <script src="../../js/app.js"></script>
</body>
</html>