<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main id="main">

        <img id="map" src="<%= map %>"/>    
       
        <form id="findMonster" action="/currentLocation" method="POST" >
            <input id="currentLat" type="hidden" name="clat" value="">
            <input id="currentLong" type="hidden" name="clng" value="">
            <button type="submit" >Find monster at my location!</button>
        </form>
        
        
        <form class="textInput" action="/getLocation" method="POST">
            <label for="search">Enter a City to Search For a Monster</label>
            <input id="input" type="text" placeholder="Enter a city" name="search"  required>
            <button type="submit">Search for Monsters!</button>
        </form>

        <button class="hide-me" id="subToDB" type="submit">Catch Monster</button>

    </main>
    <footer>
    
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../js/location.js"></script>
    <script src="../../js/app.js"></script>
</body>
</html>