

body {
    min-height: 100vh;
    background: url('https://res.cloudinary.com/beumsk/image/upload/v1520767362/back-pika.jpg') no-repeat;
    background-position: bottom left;
    background-size: cover;
    color: whitesmoke;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.findMonster{
    margin-right: 700px;
}

#map {
    margin-left: 400px;
    padding-top: 79px;
}

.textInput{
    margin-left: 450px;
    
}

#pot{
    z-index: -1;
}
/* fade in out */
#pot {
    -webkit-animation: fadeinout 5s linear 1 forwards;
    animation: fadeinout 5s linear 1 forwards;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

#logo{
    
    z-index:1;
}